-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'GERENTE', 'OPERADOR');

-- CreateEnum
CREATE TYPE "Moneda" AS ENUM ('MXN', 'USD');

-- CreateEnum
CREATE TYPE "StatusCompra" AS ENUM ('PENDIENTE', 'COMPLETADA', 'CANCELADA');

-- CreateEnum
CREATE TYPE "TipoSalida" AS ENUM ('VENTA', 'CONSUMO_INTERNO', 'PERDIDA', 'AJUSTE_POSITIVO', 'AJUSTE_NEGATIVO');

-- CreateEnum
CREATE TYPE "TipoMovimiento" AS ENUM ('ENTRADA', 'SALIDA', 'AJUSTE_POSITIVO', 'AJUSTE_NEGATIVO');

-- CreateEnum
CREATE TYPE "StatusObra" AS ENUM ('ACTIVA', 'PAUSADA', 'TERMINADA');

-- CreateEnum
CREATE TYPE "StatusCorte" AS ENUM ('BORRADOR', 'FACTURADO', 'COBRADO');

-- CreateEnum
CREATE TYPE "StatusEquipo" AS ENUM ('ACTIVO', 'EN_TALLER', 'VENDIDO', 'ABANDONO', 'BAJA');

-- CreateEnum
CREATE TYPE "TipoMantenimiento" AS ENUM ('PREVENTIVO', 'CORRECTIVO', 'INSPECCION', 'REPARACION');

-- CreateEnum
CREATE TYPE "CategoriaGasto" AS ENUM ('LUBRICANTE', 'FILTRO', 'HERRAMIENTA', 'COMBUSTIBLE', 'PERSONAL', 'VEHICULO', 'OTRO');

-- CreateTable
CREATE TABLE "Empresa" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "logo" TEXT,
    "telefono" TEXT,
    "whatsapp" TEXT,
    "email" TEXT,
    "direccion" TEXT,
    "rfc" TEXT,
    "config" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "razonSocial" TEXT,
    "codigoPostal" TEXT,
    "regimenFiscal" TEXT,
    "usoCFDI" TEXT,
    "loginBg" TEXT,

    CONSTRAINT "Empresa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'OPERADOR',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Categoria" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "descripcion" TEXT,

    CONSTRAINT "Categoria_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Proveedor" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "contacto" TEXT,
    "telefono" TEXT,
    "email" TEXT,
    "direccion" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "rfc" TEXT,
    "razonSocial" TEXT,
    "codigoPostal" TEXT,
    "regimenFiscal" TEXT,
    "usoCFDI" TEXT,

    CONSTRAINT "Proveedor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cliente" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "contacto" TEXT,
    "email" TEXT,
    "telefono" TEXT,
    "direccion" TEXT,
    "rfc" TEXT,
    "razonSocial" TEXT,
    "codigoPostal" TEXT,
    "regimenFiscal" TEXT,
    "usoCFDI" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cliente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Almacen" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Almacen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Producto" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "sku" TEXT NOT NULL,
    "categoriaId" TEXT NOT NULL,
    "unidad" TEXT NOT NULL DEFAULT 'pza',
    "stockMinimo" INTEGER NOT NULL DEFAULT 0,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "imagen" TEXT,
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',
    "precioCompra" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "stockActual" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "partNumber" TEXT,
    "leadTimeDias" INTEGER,
    "nivelReorden" DECIMAL DEFAULT 0,
    "cantidadReorden" DECIMAL DEFAULT 0,
    "suspendido" BOOLEAN DEFAULT false,
    "equipoId" TEXT,

    CONSTRAINT "Producto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Compra" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "proveedorId" TEXT NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "total" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "status" "StatusCompra" NOT NULL DEFAULT 'PENDIENTE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "referencia" TEXT,
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',
    "notas" TEXT,
    "tipoCambio" DECIMAL(65,30),
    "obraId" TEXT,

    CONSTRAINT "Compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DetalleCompra" (
    "id" TEXT NOT NULL,
    "compraId" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "cantidad" DECIMAL(65,30) NOT NULL,
    "precioUnitario" DECIMAL(65,30) NOT NULL,
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',

    CONSTRAINT "DetalleCompra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Salida" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "tipo" "TipoSalida" NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "referencia" TEXT,
    "usuarioId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "clienteNombre" TEXT,
    "notas" TEXT,
    "equipoId" TEXT,
    "obraId" TEXT,

    CONSTRAINT "Salida_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DetalleSalida" (
    "id" TEXT NOT NULL,
    "salidaId" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "cantidad" DECIMAL(65,30) NOT NULL,
    "precioUnitario" DECIMAL(65,30) NOT NULL,
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',

    CONSTRAINT "DetalleSalida_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MovimientoInventario" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "almacenId" TEXT NOT NULL,
    "tipoMovimiento" "TipoMovimiento" NOT NULL,
    "cantidad" DECIMAL(65,30) NOT NULL,
    "costoUnitario" DECIMAL(65,30) NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "referencia" TEXT,
    "usuarioId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "precioVenta" DECIMAL(65,30),
    "proveedorId" TEXT,
    "clienteNombre" TEXT,
    "clienteId" TEXT,
    "compraId" TEXT,
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',
    "notas" TEXT,
    "registroDiarioId" TEXT,
    "tipoCambio" DECIMAL(65,30),
    "obraId" TEXT,

    CONSTRAINT "MovimientoInventario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Equipo" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "modelo" TEXT,
    "numeroSerie" TEXT,
    "numeroEconomico" TEXT,
    "hodometroInicial" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "marca" TEXT,
    "anoFabricacion" INTEGER,
    "fechaCompra" DATE,
    "facturaCompra" TEXT,
    "apodo" TEXT,
    "acopladoCon" TEXT,
    "proveedorOrigen" TEXT,
    "seriePistolaActual" TEXT,
    "statusEquipo" "StatusEquipo" DEFAULT 'ACTIVO',

    CONSTRAINT "Equipo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Obra" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "clienteId" TEXT,
    "clienteNombre" TEXT,
    "ubicacion" TEXT,
    "bordo" DECIMAL(65,30),
    "espesor" DECIMAL(65,30),
    "metrosContratados" DECIMAL(65,30),
    "precioUnitario" DECIMAL(65,30),
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',
    "tipoCambio" DECIMAL(65,30),
    "fechaInicio" DATE,
    "fechaFin" DATE,
    "status" "StatusObra" NOT NULL DEFAULT 'ACTIVA',
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "profundidadCollar" DECIMAL,

    CONSTRAINT "Obra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ObraEquipo" (
    "id" TEXT NOT NULL,
    "obraId" TEXT NOT NULL,
    "equipoId" TEXT NOT NULL,
    "fechaInicio" DATE NOT NULL,
    "fechaFin" DATE,
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ObraEquipo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CorteFacturacion" (
    "id" TEXT NOT NULL,
    "obraId" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "fechaInicio" DATE NOT NULL,
    "fechaFin" DATE NOT NULL,
    "barrenos" INTEGER NOT NULL DEFAULT 0,
    "metrosLineales" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "bordo" DECIMAL(65,30),
    "espesor" DECIMAL(65,30),
    "volumenBruto" DECIMAL(65,30),
    "porcentajePerdida" DECIMAL(65,30) DEFAULT 0,
    "volumenNeto" DECIMAL(65,30),
    "precioUnitario" DECIMAL(65,30),
    "moneda" "Moneda" NOT NULL DEFAULT 'MXN',
    "tipoCambio" DECIMAL(65,30),
    "montoFacturado" DECIMAL(65,30),
    "status" "StatusCorte" NOT NULL DEFAULT 'BORRADOR',
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "perdidaM3" DECIMAL DEFAULT 0,
    "profundidadCollar" DECIMAL,

    CONSTRAINT "CorteFacturacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CorteRegistro" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "corteId" TEXT NOT NULL,
    "registroId" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CorteRegistro_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RegistroDiario" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "equipoId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "horometroInicio" DECIMAL(65,30) NOT NULL,
    "horometroFin" DECIMAL(65,30) NOT NULL,
    "horasTrabajadas" DECIMAL(65,30) NOT NULL,
    "barrenos" INTEGER NOT NULL DEFAULT 0,
    "metrosLineales" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "bordo" DECIMAL,
    "espaciamiento" DECIMAL,
    "volumenRoca" DECIMAL,
    "porcentajePerdida" DECIMAL,
    "litrosDiesel" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "precioDiesel" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "tanqueInicio" DECIMAL(65,30),
    "litrosTanqueInicio" DECIMAL(65,30),
    "tanqueFin" DECIMAL(65,30),
    "litrosTanqueFin" DECIMAL(65,30),
    "operadores" INTEGER NOT NULL DEFAULT 1,
    "peones" INTEGER NOT NULL DEFAULT 0,
    "clienteId" TEXT,
    "obraNombre" TEXT,
    "semanaNum" INTEGER,
    "anoNum" INTEGER,
    "notas" TEXT,
    "usuarioId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "obraId" TEXT,
    "corteId" TEXT,
    "profundidadPromedio" DECIMAL,
    "porcentajeAvance" DECIMAL,
    "rentaEquipoDiaria" DECIMAL,

    CONSTRAINT "RegistroDiario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResumenSemana" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "equipoId" TEXT NOT NULL,
    "semanaNum" INTEGER NOT NULL,
    "anoNum" INTEGER NOT NULL,
    "fechaInicio" DATE NOT NULL,
    "fechaFin" DATE NOT NULL,
    "horasTotales" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "barrenos" INTEGER NOT NULL DEFAULT 0,
    "metrosLineales" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "litrosPorHora" DECIMAL(65,30),
    "litrosPorMetro" DECIMAL(65,30),
    "metrosPorHora" DECIMAL(65,30),
    "metrosPorDia" DECIMAL(65,30),
    "costoDiesel" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "costoOperadores" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "costoPeones" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "costoGastos" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "rentaEquipo" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "costoTotal" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "tipoCambio" DECIMAL(65,30),
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResumenSemana_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RegistroMantenimiento" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "empresaId" TEXT NOT NULL,
    "equipoId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "horometro" DECIMAL,
    "tipo" "TipoMantenimiento" DEFAULT 'CORRECTIVO',
    "descripcion" TEXT NOT NULL,
    "observaciones" TEXT,
    "costo" DECIMAL DEFAULT 0,
    "moneda" "Moneda" DEFAULT 'MXN',
    "tipoCambio" DECIMAL,
    "proveedorId" TEXT,
    "obraId" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RegistroMantenimiento_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GastoOperativo" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "empresaId" TEXT NOT NULL,
    "equipoId" TEXT NOT NULL,
    "semanaNum" INTEGER NOT NULL,
    "anoNum" INTEGER NOT NULL,
    "fechaInicio" DATE,
    "categoria" "CategoriaGasto" DEFAULT 'OTRO',
    "producto" TEXT NOT NULL,
    "unidad" TEXT NOT NULL DEFAULT 'pza',
    "cantidad" DECIMAL NOT NULL DEFAULT 0,
    "precioUnitario" DECIMAL NOT NULL DEFAULT 0,
    "total" DECIMAL DEFAULT (cantidad * "precioUnitario"),
    "moneda" "Moneda" DEFAULT 'MXN',
    "tipoCambio" DECIMAL,
    "obraId" TEXT,
    "notas" TEXT,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GastoOperativo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Componente" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "serie" TEXT,
    "tipo" TEXT,
    "notas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "equipoActualId" TEXT,

    CONSTRAINT "Componente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MovimientoComponente" (
    "id" TEXT NOT NULL,
    "componenteId" TEXT NOT NULL,
    "equipoId" TEXT,
    "fecha" DATE NOT NULL,
    "tipo" TEXT NOT NULL,
    "notas" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MovimientoComponente_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Empresa_url_key" ON "Empresa"("url");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE INDEX "Producto_equipoId_idx" ON "Producto"("equipoId");

-- CreateIndex
CREATE INDEX "Producto_partNumber_idx" ON "Producto"("partNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Producto_empresaId_sku_key" ON "Producto"("empresaId", "sku");

-- CreateIndex
CREATE INDEX "MovimientoInventario_empresaId_idx" ON "MovimientoInventario"("empresaId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_productoId_idx" ON "MovimientoInventario"("productoId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_almacenId_idx" ON "MovimientoInventario"("almacenId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_clienteId_idx" ON "MovimientoInventario"("clienteId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_compraId_idx" ON "MovimientoInventario"("compraId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_registroDiarioId_idx" ON "MovimientoInventario"("registroDiarioId");

-- CreateIndex
CREATE INDEX "MovimientoInventario_obraId_idx" ON "MovimientoInventario"("obraId");

-- CreateIndex
CREATE INDEX "Obra_empresaId_idx" ON "Obra"("empresaId");

-- CreateIndex
CREATE INDEX "Obra_status_idx" ON "Obra"("status");

-- CreateIndex
CREATE INDEX "ObraEquipo_obraId_idx" ON "ObraEquipo"("obraId");

-- CreateIndex
CREATE INDEX "ObraEquipo_equipoId_idx" ON "ObraEquipo"("equipoId");

-- CreateIndex
CREATE INDEX "CorteFacturacion_obraId_idx" ON "CorteFacturacion"("obraId");

-- CreateIndex
CREATE UNIQUE INDEX "CorteFacturacion_obraId_numero_key" ON "CorteFacturacion"("obraId", "numero");

-- CreateIndex
CREATE UNIQUE INDEX "CorteRegistro_registroId_unique" ON "CorteRegistro"("registroId");

-- CreateIndex
CREATE INDEX "CorteRegistro_corteId_idx" ON "CorteRegistro"("corteId");

-- CreateIndex
CREATE INDEX "CorteRegistro_registroId_idx" ON "CorteRegistro"("registroId");

-- CreateIndex
CREATE INDEX "RegistroDiario_empresaId_idx" ON "RegistroDiario"("empresaId");

-- CreateIndex
CREATE INDEX "RegistroDiario_equipoId_idx" ON "RegistroDiario"("equipoId");

-- CreateIndex
CREATE INDEX "RegistroDiario_fecha_idx" ON "RegistroDiario"("fecha");

-- CreateIndex
CREATE INDEX "RegistroDiario_obraId_idx" ON "RegistroDiario"("obraId");

-- CreateIndex
CREATE INDEX "RegistroDiario_corteId_idx" ON "RegistroDiario"("corteId");

-- CreateIndex
CREATE UNIQUE INDEX "RegistroDiario_equipoId_fecha_key" ON "RegistroDiario"("equipoId", "fecha");

-- CreateIndex
CREATE INDEX "ResumenSemana_empresaId_idx" ON "ResumenSemana"("empresaId");

-- CreateIndex
CREATE INDEX "ResumenSemana_equipoId_idx" ON "ResumenSemana"("equipoId");

-- CreateIndex
CREATE UNIQUE INDEX "ResumenSemana_equipoId_semanaNum_anoNum_key" ON "ResumenSemana"("equipoId", "semanaNum", "anoNum");

-- CreateIndex
CREATE INDEX "RegistroMantenimiento_empresaId_idx" ON "RegistroMantenimiento"("empresaId");

-- CreateIndex
CREATE INDEX "RegistroMantenimiento_equipoId_idx" ON "RegistroMantenimiento"("equipoId");

-- CreateIndex
CREATE INDEX "RegistroMantenimiento_fecha_idx" ON "RegistroMantenimiento"("fecha");

-- CreateIndex
CREATE INDEX "GastoOperativo_empresaId_idx" ON "GastoOperativo"("empresaId");

-- CreateIndex
CREATE INDEX "GastoOperativo_equipoId_idx" ON "GastoOperativo"("equipoId");

-- CreateIndex
CREATE INDEX "GastoOperativo_obraId_idx" ON "GastoOperativo"("obraId");

-- CreateIndex
CREATE UNIQUE INDEX "GastoOperativo_equipo_semana_producto_idx" ON "GastoOperativo"("equipoId", "semanaNum", "anoNum", "producto");

-- CreateIndex
CREATE INDEX "Componente_empresaId_idx" ON "Componente"("empresaId");

-- CreateIndex
CREATE INDEX "Componente_equipoActualId_idx" ON "Componente"("equipoActualId");

-- CreateIndex
CREATE INDEX "MovimientoComponente_componenteId_idx" ON "MovimientoComponente"("componenteId");

-- CreateIndex
CREATE INDEX "MovimientoComponente_equipoId_idx" ON "MovimientoComponente"("equipoId");

-- CreateIndex
CREATE INDEX "MovimientoComponente_fecha_idx" ON "MovimientoComponente"("fecha");

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Categoria" ADD CONSTRAINT "Categoria_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Proveedor" ADD CONSTRAINT "Proveedor_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cliente" ADD CONSTRAINT "Cliente_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Almacen" ADD CONSTRAINT "Almacen_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Producto" ADD CONSTRAINT "Producto_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "Categoria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Producto" ADD CONSTRAINT "Producto_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Producto" ADD CONSTRAINT "Producto_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Compra" ADD CONSTRAINT "Compra_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Compra" ADD CONSTRAINT "Compra_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Compra" ADD CONSTRAINT "Compra_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "Proveedor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetalleCompra" ADD CONSTRAINT "DetalleCompra_compraId_fkey" FOREIGN KEY ("compraId") REFERENCES "Compra"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetalleCompra" ADD CONSTRAINT "DetalleCompra_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "Producto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salida" ADD CONSTRAINT "Salida_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salida" ADD CONSTRAINT "Salida_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salida" ADD CONSTRAINT "Salida_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Salida" ADD CONSTRAINT "Salida_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetalleSalida" ADD CONSTRAINT "DetalleSalida_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "Producto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DetalleSalida" ADD CONSTRAINT "DetalleSalida_salidaId_fkey" FOREIGN KEY ("salidaId") REFERENCES "Salida"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_almacenId_fkey" FOREIGN KEY ("almacenId") REFERENCES "Almacen"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_compraId_fkey" FOREIGN KEY ("compraId") REFERENCES "Compra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "Producto"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "Proveedor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_registroDiarioId_fkey" FOREIGN KEY ("registroDiarioId") REFERENCES "RegistroDiario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoInventario" ADD CONSTRAINT "MovimientoInventario_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Equipo" ADD CONSTRAINT "Equipo_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obra" ADD CONSTRAINT "Obra_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Obra" ADD CONSTRAINT "Obra_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ObraEquipo" ADD CONSTRAINT "ObraEquipo_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ObraEquipo" ADD CONSTRAINT "ObraEquipo_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CorteFacturacion" ADD CONSTRAINT "CorteFacturacion_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CorteRegistro" ADD CONSTRAINT "CorteRegistro_corteId_fkey" FOREIGN KEY ("corteId") REFERENCES "CorteFacturacion"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CorteRegistro" ADD CONSTRAINT "CorteRegistro_registroId_fkey" FOREIGN KEY ("registroId") REFERENCES "RegistroDiario"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_corteId_fkey" FOREIGN KEY ("corteId") REFERENCES "CorteFacturacion"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroDiario" ADD CONSTRAINT "RegistroDiario_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumenSemana" ADD CONSTRAINT "ResumenSemana_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumenSemana" ADD CONSTRAINT "ResumenSemana_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroMantenimiento" ADD CONSTRAINT "RegistroMantenimiento_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RegistroMantenimiento" ADD CONSTRAINT "RegistroMantenimiento_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RegistroMantenimiento" ADD CONSTRAINT "RegistroMantenimiento_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "RegistroMantenimiento" ADD CONSTRAINT "RegistroMantenimiento_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "Proveedor"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GastoOperativo" ADD CONSTRAINT "GastoOperativo_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GastoOperativo" ADD CONSTRAINT "GastoOperativo_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GastoOperativo" ADD CONSTRAINT "GastoOperativo_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "Obra"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "Componente" ADD CONSTRAINT "Componente_equipoActualId_fkey" FOREIGN KEY ("equipoActualId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Componente" ADD CONSTRAINT "Componente_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "Empresa"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoComponente" ADD CONSTRAINT "MovimientoComponente_componenteId_fkey" FOREIGN KEY ("componenteId") REFERENCES "Componente"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MovimientoComponente" ADD CONSTRAINT "MovimientoComponente_equipoId_fkey" FOREIGN KEY ("equipoId") REFERENCES "Equipo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

